[req]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = VN
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = HoChiMinhCity
localityName = Locality Name (eg, city)
localityName_default = ThuDuc
organizationalUnitName = Organizational Unit Name (eg, section)
organizationalUnitName_default = UIT
commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_default = Group6
emailAddress = Email Address
emailAddress_default = kietngo255@gmail.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = group6.com
